.App {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

blockquote {
  margin: 0.5em 0;
  padding: 0.5em 1em;
  border-left: 5px solid grey;
  font-family: serif;
  font-style: italic;
}

blockquote footer {
  font-family: sans-serif;
  font-style: normal;
  font-size: 0.8em;
  font-weight: 700;
  padding-top: 0.5em;
  color: grey;
}

blockquote footer:before {
  content: "\2015";
}
